.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

.special-function {
  background-color: orange;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
